<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head',{
        title : 'Tierras Magicas',
      }) %>

<body>

    <%- include('partials/header') %>

    <main>
        <%- include('partials/realm') %>
    
    </main>

    <%- include('partials/footer') %>
    
</body>
</html>