<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head',{
        title : 'Tierras Magicas',
      }) %>

  <body>
    <%- include('partials/header') %>

    <main>
     <h1 class="title">Personajes por Reino</h1>
     <%- include('partials/realmCard') %>
   </main>

   <%- include('partials/footer') %>
   
    <script src="/js/all.js"></script>
  </body>
</html>
