<header>
    <a href="/"> <h1>Tierras Magicas</h1></a>
    <nav>
        <h5><a href="/character/add">Agregar Personaje</a></h5>
        <h5><a href="/realm/add">Agregar Reino</a></h5>
        <h5><a href="/admin">Administrador</a></h5>
        <h5><a href="/">Reinos</a></h5>
        <h5><a href="/character/all">Todos</a></h5>
    </nav>
    <a class="sky" href="#"><img src="https://i.pinimg.com/originals/0a/3c/31/0a3c3119dcd5070f0d3dc6101aad200c.jpg" alt=""></a>
</header>